# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# IDE
.vscode/
.idea/

# Dataset (large files)
dataset/

# Database (NEVER upload SQLite runtime files)
database/
*.db
*.db-wal
*.db-shm

model/*
!model/malaria_model.keras